body{
	font-size: 1em;
	font-family: monospace;
}

nav{
	padding: 1rem 0; 
}

header{
	background-image: url(../img/estrellas.gif);
	background-size: cover;
}
header .container{
	margin-top: 2rem;
}
.card-panel{
	margin: 0 2rem;
	width: 70%;

}

.micontainer{
	padding: 2.5rem 4.5rem;
}

.card-panel input:focus{
	 border-color: white !important;
	 color: white !important;
}

h6{
	font-size: smaller;
}
